*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: jetmono;
    src: url(../assets/fonts/static/JetBrainsMono-Medium.ttf);
}

body{
    background-color: #FFA725;
    font-family: jetmono;
    color: #FFA725;
    font-size: 2vw;
}

.image{
    width: 60%;
    height: fit-content;
    position: absolute;
    left: 20%;
    top: 20%;
}

.pages-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

.header-pages-container-row{
    box-shadow: 0 0.1vw 0 0.5vw #f9e4c0;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 1.5vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFF5E4;
    transition-delay: 0.5s;
    transition: 0.3s;
}.header-pages-container-row:hover{
    padding: 3vw 0;
}

.title{
    font-size: 3vw;
    font-weight: bold;
    cursor: default;
    padding: 0.5vw;
    background-color: #FFF5E4;
    border-radius: 0.2vw;
    box-shadow: 0 0.2vw 0.2vw 0.1vw #f5dbae;
    border-color: #f5d8a5;
    border-width: 0.1vw;
    border-style: solid;
}

.header-pages{
    margin-top: 1.5vw;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}.header-pages:hover{
    color: #6A9C89;
    text-decoration: underline;
    transform: scale(1.1);
}

.smaller-scale{
    transform: scale(0.9);
}

.header-extra-button{
    height: 4vw;
    width: 4vw;
    background-color: #FFF5E4;
    border-radius: 0.2vw;
    box-shadow: 0 0.2vw 0.2vw 0.1vw #f5dbae;
    border-color: #f5d8a5;
    border-width: 0.1vw;
    border-style: solid;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}.header-extra-button:hover{
    transform: scale(1.1);
}

.header-extra-button-container-row{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.footer-container-row{
    background-color: #FFF5E4;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    padding: 3vw 0;
}

.footer-content-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.footer-content{
    margin-top: 0.5vw;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}.footer-content:hover{
    color: #6A9C89;
    text-decoration: underline;
    transform: scale(1.1);
}

.home-body-introduction-container{
    flex-direction: row;
    margin: auto;
    margin-top: 15vw;
    box-shadow: 0 0.1vw 0 0vw #f9e4c0;
    gap: 80px;
    justify-content: center;
    background-color: #FFF5E4;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: fit-content;
    padding: 2vw;
    border-radius: 0.5vw;
}

.home-body-introduction-image{
    margin: auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5vw;
    box-shadow: 0 1px 1px #d7bd90, 0 2px 2px #d7bd90, 0 4px 4px #d7bd90, 0 8px 8px #d7bd90;
}

.home-body-introduction-text-container{
    width: 300px;
    height: fit-content;
    font-size: 15px;
}

.tile-text{
    font-size: 24px;
}

.title-text-contaniner{
    display: flex;
    flex-direction: column;
    gap: 10px;
}